body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f5f5f5;
}

header {
  background: #111;
  color: white;
  text-align: center;
  padding: 30px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 20px;
  gap: 20px;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card button {
  background: black;
  color: white;
  padding: 10px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 6px;
}

.card button:hover {
  background: #333;
}

.contacto{
background:#111;
color:white;
padding:80px 20px;
text-align:center;
margin:50px;
border-radius:40px;
max-width:900px;
margin-left:auto;
margin-right:auto;
}

.contacto h2{
font-size:40px;
margin-bottom:10px;
}

.contacto .sub{
color:#bbb;
margin-bottom:40px;
}

/* CONTENEDOR BOTONES */
.botones{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

/* BOTONES */
.botones a{
padding:15px 35px;
border-radius:50px;
color:white;
text-decoration:none;
font-weight:600;
transition:.3s;
min-width:160px;
}

/* HOVER PRO */
.botones a:hover{
transform:scale(1.05);
opacity:0.9;
}

.whatsapp{background:#25D366;}
.instagram{background:#E1306C;}
.facebook{background:#1877F2;}
